@model TestWebApplication.Models.ServerSelection
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
        </ul>
    </div>
    <div>
        @*Выбирает сервер, на котором размещена БД*@
        @using (Html.BeginForm("Helper", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.SelectedValue, Model.ListValue as SelectList, "Select server", new { onchange = "this.form.submit();" })
}
    </div>
</body>
</html>
