@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="mw-datepicker-range.js"></script>
</head>
<body ng-app="app" style="width:90%; margin:auto;">
    <div ng-controller="MainCtrl" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>SmartTable support</h3>
            @*rowCollection - переменная, где хранятся строки из БД.
            displayedCollection - необходима в случае динамической коллекции.*@
            <table st-set-filter="customFilter" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="country">Country</th>
                        <th st-sort="sity">City</th>
                        <th st-sort="street">Street</th>
                        <th st-sort="homenum">Home number</th>
                        <th st-sort="index">Index</th>
                        <th st-sort="Date">Date</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="country" placeholder="Country..." class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="sity" placeholder="Сity..." class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="street" placeholder="Street..." class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="homenum" placeholder="Home number..." class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="index" placeholder="Index..." class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <st-date-range predicate="Date" selected-dates></st-date-range>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.country}}</td>
                        <td>{{row.sity}}</td>
                        <td>{{row.street}}</td>
                        <td>{{row.homenum}}</td>
                        <td>{{row.index}}</td>
                        <td>{{row.Date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-left">
                            <div st-pagination="" st-items-by-page=100 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="~/ScriptsNg/Module/app.js"></script>
    <script src="~/ScriptsNg/Services/PostServices.js"></script>
    <script src="~/ScriptsNg/Controller/PostController.js"></script>
</body>
</html>

